<mat-toolbar> <span>[Header]</span> </mat-toolbar>
<mat-list>
  <mat-divider></mat-divider>
  <mat-list-item>
    <img
      matListAvatar
      src="https://images.pexels.com/photos/799463/pexels-photo-799463.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
      alt=""
    />
    <p matLine>Name</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <img
      matListAvatar
      src="https://images.pexels.com/photos/799463/pexels-photo-799463.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
      alt=""
    />
    <p matLine>Name</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <img
      matListAvatar
      src="https://images.pexels.com/photos/799463/pexels-photo-799463.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
      alt=""
    />
    <p matLine>Name</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <img
      matListAvatar
      src="https://images.pexels.com/photos/799463/pexels-photo-799463.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
      alt=""
    />
    <p matLine>Name</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <img
      matListAvatar
      src="https://images.pexels.com/photos/799463/pexels-photo-799463.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
      alt=""
    />
    <p matLine>Name</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <img
      matListAvatar
      src="https://images.pexels.com/photos/799463/pexels-photo-799463.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
      alt=""
    />
    <p matLine>Name</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <img
      matListAvatar
      src="https://images.pexels.com/photos/799463/pexels-photo-799463.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
      alt=""
    />
    <p matLine>Name</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <img
      matListAvatar
      src="https://images.pexels.com/photos/799463/pexels-photo-799463.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
      alt=""
    />
    <p matLine>Name</p>
  </mat-list-item>
</mat-list>
