mat-toolbar {
  height: 2.5em;
}

.border {
  height: auto;
  width: auto;
  padding: 0.2em;
  border: 0.1rem solid lightgrey;
  line-height: 0;
}

// .chat-convo {
//   flex: 1 1 auto;
//   background: blueviolet;
// }

#comment-box-container {
  position: fixed;
  bottom: 0;
  width: 100%;
}

#comment-box {
  font-size: 0.75em;
}
