<mat-toolbar>
  <span>{{ room.title }}</span> <span class="spacer"></span>
  <button class="mx-3 border" mat-icon-button><mat-icon color="primary"> search </mat-icon></button>
  <button class="border" mat-icon-button (click)="onClick()">
    <mat-icon color="primary"> more_vert </mat-icon>
  </button>
</mat-toolbar>

<main class="chat-convo">
  <div id="chat-container">
    <div class="in-bubbles">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe quos repellat totam
      necessitatibus aut nobis veritatis dolorum harum nihil sit reiciendis magni rerum soluta
      beatae, ab ipsa officiis, consequuntur dolore!
    </div>
    <div class="in-bubbles">Lorem ipsum dolor sit amet</div>
    <div class="out-bubbles">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe quos repellat totam
      necessitatibus aut nobis veritatis dolorum harum nihil sit reiciendis magni rerum soluta
      beatae, ab ipsa officiis, consequuntur dolore!
    </div>
    <div class="out-bubbles">Lorem ipsum dolor sit</div>
  </div>
</main>

<section id="comment-box-container">
  <form class="d-flex" (ngSubmit)="onSendChat(chat)" #chat="ngForm">
    <mat-form-field class="w-100 mx-3 mt-3 p-0" appearance="outline" color="white">
      <textarea matInput name="message" id="comment-box" ngModel></textarea>
    </mat-form-field>
    <button class="align-self-center mr-3" mat-icon-button>
      <mat-icon color="primary" maxLength="3"> send </mat-icon>
    </button>
  </form>
</section>
