@import '~@angular/material/theming';
@include mat-core();

$ng-el-primary: mat-palette($mat-light-blue);
$ng-el-accent: mat-palette($mat-blue);
$ng-el-warn: mat-palette($mat-red);
$ng-el-theme: mat-light-theme($ng-el-primary, $ng-el-accent, $ng-el-warn);

@include angular-material-theme($ng-el-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
